/* Contenedor principal */
.perfil {
  display: flex;
  align-items: center; 
  gap: 8px;        
}

.logros {
  display: flex;
  align-items: center; 
  gap: 8px;        
}


.square-img {
  width: 60%;
  height: 60%;
  object-fit: contain;
  transition: transform 0.3s ease;
}


.hora{
  font-size: 24px;
  color: white;
  font-family: var(--font-family);
}

.contacto{
  display: flex;
  gap: 15px;
  justify-content: start;
  align-items: center;
  position: relative;
  height:20px
}

.rrss{
  width: 5vw;
  height: 5vw;
  max-width: 50px;
  max-height: 50px;
  min-width: 30px;
  min-height: 30px;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: span 5; /* Ocupa las 5 columnas */
  width: 100%;  

  height: 50px;      /* Reduce la altura */
  padding: 0 10px;
}

.app-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  height: 100vh;
  padding: 20px;
  position: relative;
}



/* Bloque de cuadrados */
.squares-block {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
  position: relative;
}

/* Cuadrados */
.square {
  width: 13vw;
  height: 13vw;
  min-height: 120px;
  min-width: 120px;
  background: #001d61;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.sobre_mi {
  background-color: linear-gradient(290deg, var(--primary-color),rgb(53, 106, 136)); /* por ejemplo, color rojo */
  border: 2px solid white;
}


/* Tooltip (texto al pasar el ratón) */
.tooltip {
  position: absolute;
  left: 40%; /* a la derecha del cuadrado */
  top: 110%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.square:hover .tooltip {
  opacity: 1;
}

/* Hover en el cuadrado */
.square:hover {
  
  width: 15vw;   /* aumenta tamaño real */
  height: 15vw;
  min-width: 170px;
  min-height: 170px;
}

/* Responsive móvil */
@media (max-width: 650px) {
  /* Cuadrados más grandes en móvil */
  .square {
    width: 20vw; /* un poco más grande */
    height: 20vw;
    font-size: 18px;
  }

}