.carta-container {
  position: relative;
  height: 100%;          
  width: auto;           
  aspect-ratio: 3 / 4;   
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.carta-container:hover {
  transform: scale(1.05);
}

.carta-fondo {
  height: 100%;     
  width: auto;      
  object-fit: contain;
  display: block;
}

.carta-simbolo {
  position: absolute;
  top: 40%;
  left: 50%;
  height: 40%;      
  width: auto;      
  transform: translate(-50%, -50%);
  pointer-events: none;
}


.carta-nombre {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  color: white; 
  font-size: 16px; 
  font-weight: bold; 
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  width: 90%;
  z-index: 10; 
  margin: 0;
  padding: 0;
}