/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Variables de colores */
:root {
  --primary-color: #0941ae;
  --secondary-color: #000c26;
  --text-color: #ffffff;
  --font-family: 'Montserrat', sans-serif;
}

/* Estilos del body con fondo degradado */
body {
  font-family: var(--font-family);
  color: var(--text-color);
  min-height: 100vh;
  background: linear-gradient(180deg, var(--primary-color), var(--secondary-color));
  display: flex;
  flex-direction: column;
}

/* Contenedor principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Encabezados */
h1, h2, h3, h4 {
  color: var(--text-color);
  margin-bottom: 1rem;
}

/* Párrafos */
p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

